.student__info {
  background-color: #273c75;
  &__card {
    width: 15%;
    position: relative;
    margin-bottom: 10rem;
  }
  &__img {
    width: 100%;
    height: 40rem;
    perspective: 100rem;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      transform: rotateY(40deg);
      -webkit-transform: rotateY(40deg);
      -moz-transform: rotateY(40deg);
      -ms-transform: rotateY(40deg);
      -o-transform: rotateY(40deg);
      -webkit-box-reflect: below 0.5px
        linear-gradient(transparent, transparent, #0003);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
  }
  &__item {
    width: 100vw;
    padding: 5rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__details {
    position: absolute;
    width: 80%;
    bottom: 10%;
    left: 10%;
    background: #200122;
    background: -webkit-linear-gradient(to right, #6f0000a5, #200122a5);
    background: linear-gradient(to right, #6f0000a5, #200122a5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 0;
    opacity: 0;
    visibility: hidden;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    & > * {
      margin-bottom: 0.8rem;
    }
  }

  &__card:hover > &__details {
    opacity: 1;
    visibility: visible;
    height: 80%;
  }
  &__card:hover > &__img > img {
    opacity: 0.7;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}

.sudent__name {
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff);

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5rem;
}
.student__id {
  font-size: 1.7rem;
  & > span:first-child {
    margin-right: 1rem;
  }
}

.student__location {
  font-size: 1.7rem;
  text-align: center;
  & > span:first-child {
    margin-bottom: 1rem;
  }
}

//////// second part of render
.students__info__marks {
  padding: 7rem 0rem;

  background-color: #2c2c54;
}
.students__card__wrapper {
  width: 90vw;
  margin: 0 auto;
  padding: 7rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.students__card {
  width: 35rem;
  height: 50rem;
  position: relative;
  z-index: 999999;
  perspective: 100rem;
  margin: 5rem 0;

  & > * {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  &:hover > .front__side {
    transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
  }
  &:hover > .back__side {
    transform: rotatey(0);
    -webkit-transform: rotatey(0);
    -moz-transform: rotatey(0);
    -ms-transform: rotatey(0);
    -o-transform: rotatey(0);
  }
}
.front__side {
  background: #e96443;
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443);

  z-index: 9999;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  overflow: hidden;
  // position: relative;

  & > img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
  & > .students__details {
    text-align: center;
    font-size: 1.2rem;
    font-family: inherit;

    & > * {
      padding-bottom: 1rem;
    }
    & > h1 {
      color: white;
      position: absolute;
      top: 35%;
      right: 2%;
      padding: 1rem 1.5rem;
      font-size: 2.5rem;
      background: #ff5f6da9;
      background: -webkit-linear-gradient(to right, #ffc371a9, #ff5f6da9);
      background: linear-gradient(to right, #ffc371a9, #ff5f6da9);
    }
  }
}
.back__side {
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9733ee, #da22ff);
  background: linear-gradient(to right, #9733ee, #da22ff);

  z-index: 999;
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark__table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
